venv/
.venv/
env/

__pycache__/
*.pyc

.env

.vscode/
.idea/

.DS_Store

Parsing.zip

dataset
dataset/
dataset.rar

helper.py

checkpoint.pth
data/checkpoint.pth

evaluate_quality.py

data/weights
data/weights/
data/hints/*
